psutil==7.1.3
colorama==0.4.6
z3-solver==4.13.0.0
liger_kernel==0.7.0
torchvision==0.24.1+cu129
datasets==4.5.0
setuptools==80.10.2
pycparser==3.0
einops==0.8.2
sniffio==1.3.1
opentelemetry-semantic-conventions==0.60b1
distro==1.9.0
cuda-pathfinder==1.3.4
nvidia-cufft-cu12==11.4.1.4
colorful==0.5.8
ray==2.53.0
PyJWT==2.11.0
regex==2026.1.15
referencing==0.37.0
tensorboard==2.20.0
cffi==2.0.0
pydantic_core==2.41.5
omegaconf==2.3.0
tqdm==4.67.3
yarl==1.22.0
cryptography==46.0.5
peft==0.18.1
pyzmq==27.1.0
propcache==0.4.1
openai==2.20.0
tokenizers==0.22.2
python-multipart==0.0.22
networkx==3.6.1
tabulate==0.9.0
verl==0.7.0.dev0
importlib_metadata==8.7.1
absl-py==2.4.0
numba==0.61.2
pydantic-extra-types==2.11.0
GitPython==3.1.46
psutil==7.2.2
aiohappyeyeballs==2.6.1
nvidia-cusparselt-cu12==0.7.1
msgpack==1.1.2
Markdown==3.10.2
typing-inspection==0.4.2
jsonschema==4.26.0
setproctitle==1.3.7
pyvers==0.1.0
PyYAML==6.0.3
tiktoken==0.12.0
anyio==4.12.1
attrs==25.4.0
jmespath==1.1.0
nvidia-cublas-cu12==12.9.1.4
rsa==4.9.1
mcp==1.26.0
codetiming==1.4.0
nvidia-cusolver-cu12==11.7.5.82
hydra-core==1.3.2
pybind11==3.0.2
lm-format-enforcer==0.11.3
blake3==1.0.8
rich-toolkit==0.19.3
aiohttp==3.13.3
rignore==0.7.6
cbor2==5.8.0
nvidia-nvshmem-cu12==3.3.20
cuda-bindings==13.1.1
httpx-sse==0.4.3
opentelemetry-exporter-prometheus==0.60b1
llvmlite==0.44.0
sympy==1.14.0
anthropic==0.79.0
nvidia-cudnn-frontend==1.18.0
grpcio==1.78.0
pybase64==1.4.3
depyf==0.20.0
diskcache==5.6.3
fastapi-cli==0.0.21
uvicorn==0.40.0
email-validator==2.3.0
compressed-tensors==0.13.0
nvidia-cudnn-cu12==9.10.2.21
urllib3==2.6.3
contourpy==1.3.3
sse-starlette==3.2.0
nvidia-cusparse-cu12==12.5.10.65
pyasn1==0.6.2
python-dateutil==2.9.0.post0
py-cpuinfo==9.0.0
Jinja2==3.1.6
pylatexenc==2.10
nvidia-cuda-nvrtc-cu12==12.9.86
mpmath==1.3.0
python-json-logger==4.0.0
httpcore==1.0.9
Pygments==2.19.2
typer==0.23.0
grpcio-reflection==1.78.0
aiohttp-cors==0.8.1
rpds-py==0.30.0
tensorboard-data-server==0.7.2
opencv-python-headless==4.13.0.92
wrapt==2.1.1
transformers==4.57.6
huggingface_hub==0.36.2
MarkupSafe==3.0.3
model-hosting-container-standards==0.1.13
click==8.3.1
hf-xet==1.2.0
fastapi==0.128.8
xgrammar==0.1.29
torch==2.9.1+cu129
tensordict==0.10.0
gitdb==4.0.12
nvidia-cuda-cupti-cu12==12.9.79
opencensus-context==0.1.3
markdown-it-py==4.0.0
cuda-python==13.1.1
prometheus-fastapi-instrumentator==7.1.0
pip==26.0.1
annotated-doc==0.0.4
ninja==1.13.0
apache-tvm-ffi==0.1.8.post2
pandas==3.0.0
accelerate==1.12.0
py-spy==0.4.1
uvloop==0.22.1
Werkzeug==3.1.5
typing_extensions==4.15.0
nvidia-curand-cu12==10.3.10.19
multiprocess==0.70.18
opentelemetry-api==1.39.1
opencensus==0.11.4
smmap==5.0.2
gguf==0.17.1
cupy-cuda12x==13.6.0
nvidia-nccl-cu12==2.27.5
proto-plus==1.27.1
certifi==2026.1.4
python-dotenv==1.2.1
distlib==0.4.0
pillow==12.1.1
cachetools==7.0.1
fastapi-cloud-cli==0.11.0
nvidia-cufile-cu12==1.14.1.1
rich==14.3.2
antlr4-python3-runtime==4.9.3
interegular==0.3.3
torchaudio==2.9.1+cu129
pycountry==24.6.1
aiosignal==1.4.0
h11==0.16.0
jsonschema-specifications==2025.9.1
virtualenv==20.37.0
lark==1.2.2
dill==0.4.0
torchdata==0.11.0
numpy==1.26.4
mistral_common==1.9.0
googleapis-common-protos==1.72.0
smart_open==7.5.0
prometheus_client==0.24.1
packaging==25.0
nvidia-nvtx-cu12==12.9.79
vllm==0.15.1
wandb==0.25.0
filelock==3.24.2
google-api-core==2.29.0
opentelemetry-sdk==1.39.1
kiwisolver==1.4.9
mdurl==0.1.2
starlette==0.52.1
astor==0.8.1
xxhash==3.6.0
pydantic-settings==2.12.0
dnspython==2.8.0
websockets==16.0
pyasn1_modules==0.4.2
sentry-sdk==2.52.0
frozenlist==1.8.0
matplotlib==3.10.8
fonttools==4.61.1
llguidance==1.3.0
nvidia-cutlass-dsl==4.3.5
fsspec==2025.10.0
pyarrow==23.0.0
nvidia-ml-py==13.590.48
nvidia-cuda-runtime-cu12==12.9.79
pyparsing==3.3.2
annotated-types==0.7.0
charset-normalizer==3.4.4
protobuf==6.33.5
pydantic==2.12.5
openai-harmony==0.0.8
fastar==0.8.0
idna==3.11
google-auth==2.48.0
docstring_parser==0.17.0
six==1.17.0
httpx==0.28.1
jiter==0.13.0
httptools==0.7.1
shellingham==1.5.4
ijson==3.4.0.post0
platformdirs==4.9.2
orjson==3.11.7
nvidia-nvjitlink-cu12==12.9.86
requests==2.32.5
watchfiles==1.1.1
outlines_core==0.2.11
flash_attn==2.8.3
sentencepiece==0.2.1
cloudpickle==3.1.2
fastrlock==0.8.3
partial-json-parser==0.2.1.1.post7
supervisor==4.3.0
zipp==3.23.0
loguru==0.7.3
safetensors==0.7.0
triton==3.5.1
cycler==0.12.1
opentelemetry-proto==1.39.1
flashinfer-python==0.6.1
multidict==6.7.1
msgspec==0.20.0
verl==0.7.0.dev0
